apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: evalbench-namespace
  name: evalbench-nl2code-eval-server-deploy
  labels:
    app: evalbench-nl2code-eval-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: evalbench-nl2code-eval-server
  template:
    metadata:
      labels:
        app: evalbench-nl2code-eval-server
    spec:
      serviceAccountName: evalbench-ksa
      containers:
      - image: us-central1-docker.pkg.dev/astana-evaluation/evalbench/eval_server:latest
        imagePullPolicy: Always
        name: evalbench-nl2code-eval
        # go/gke-shipshape
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: false
          runAsUser: 0
          runAsGroup: 0
          seccompProfile:
            type: RuntimeDefault
        ports:
        - protocol: TCP
          containerPort: 50051
        volumeMounts:
        - mountPath: /tmp
          name: tmp-volume
        - name: git-auth-data  # Mount the volume for git-auth
          mountPath: /root/.git-credential-cache
      - name: gcompute-git-auth  # Sidecar container for git-auth
        image: us-central1-docker.pkg.dev/astana-evaluation/evalbench/git_cookie_auth:latest
        imagePullPolicy: Always
        volumeMounts:
        - name: git-auth-data
          mountPath: /root/.git-credential-cache
        startupProbe:
          exec:
            command:
            - stat
            - /root/.git-credential-cache/cookie
          initialDelaySeconds: 10
      volumes:
      - name: tmp-volume
        emptyDir: {}
      - name: git-auth-data 
        emptyDir: {}

